.list-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid 1px #d8d8d8;

    label {
        &:nth-child(1) {
            font-weight: bold;
            font-size: 1.2em;
        }

        &:nth-child(2) {
            color: #878787;
            font-size: 1em;
        }
    }
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-content: center;
    justify-content: center;

    button {
        &:not(:nth-child(1)) {
            margin-left: 5px;
        }
    }

    input {
        flex-grow: 1;
        margin: 0px 5px 0px 5px;
    }
}